.preview {
	width: 100%;
}

.text {
	color: var(--color-text);
	font-style: italic;
	font-weight: 800;
	line-height: 1.2;
	font-size: min(5.6rem, 13vw);
}

.textValue {
	color: var(--color-purple);
	letter-spacing: min(1.5vw, 1rem);
}

.noValue {
	user-select: none;
}

.less-spacing {
	margin-left: -1rem;
}

@media screen and (max-width: 1000px) {
	.less-spacing {
		margin-left: -0.5rem;
	}
}
