.preview {
	width: 100%;
}

.text {
	color: var(--color-text);
	font-style: italic;
	font-weight: 800;
	line-height: 1.2;
	font-size: min(5.6rem, 13vw);
}

.textValue {
	color: var(--color-purple);
}
