:root {
	--font-size-input: 32px;
	--color-off-white: hsl(0, 0%, 94%);
	--color-light-grey: hsl(0, 0%, 86%);
	--color-smokey-grey: hsl(0, 1%, 44%);
	--color-off-black: hsl(0, 0%, 8%);
	--color-purple: hsl(259, 100%, 65%);
	--color-light-red: hsl(0, 100%, 67%);
}

@media (prefers-color-scheme: light) {
	:root {
		--bg-app: var(--color-off-white);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-app: var(--color-off-black);
	}
}

:is(*, *:before, *::after) {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;

	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family:
		'Poppins',
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

html {
	scroll-behavior: smooth;
	background-color: var(--bg-app);
	-webkit-tap-highlight-color: transparent;
}

body {
	width: 100vw;
	min-height: 100vh;
	font-size: 16px;
	background-color: transparent;
}

[id='root'] {
	width: 100vw;
	min-height: 100vh;
}
